@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat {
  font-family: "Montserrat", sans-serif;
}
.jersey {
   font-family: "Jersey 10", sans-serif;
}

.container_card {
    width: 100%;
}

@media (min-width: 768px){
  .container_card {
      width: 60%;
  }

  .nameplate_card {
      height: 84px
  }
}

@media (min-width: 1024px){
  .container_card {
      width: 35%;
  }

  .nameplate_card {
      height: 84px
  }
}